IO_LOC "sys_resetn" 4;
IO_PORT "sys_resetn" PULL_MODE=UP;
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;

IO_LOC "adc0_data[0]" 41;
IO_PORT "adc0_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[1]" 35;
IO_PORT "adc0_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[2]" 40;
IO_PORT "adc0_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[3]" 34;
IO_PORT "adc0_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[4]" 33;
IO_PORT "adc0_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[5]" 30;
IO_PORT "adc0_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[6]" 29;
IO_PORT "adc0_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[7]" 28;
IO_PORT "adc0_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[8]" 27;
IO_PORT "adc0_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[9]" 26;
IO_PORT "adc0_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[10]" 25;
IO_PORT "adc0_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc0_data[11]" 38;
IO_PORT "adc0_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "adc1_data[0]" 32;
IO_PORT "adc1_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[1]" 31;
IO_PORT "adc1_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[2]" 49;
IO_PORT "adc1_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[3]" 48;
IO_PORT "adc1_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[4]" 76;
IO_PORT "adc1_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[5]" 57;
IO_PORT "adc1_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[6]" 56;
IO_PORT "adc1_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[7]" 55;
IO_PORT "adc1_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[8]" 54;
IO_PORT "adc1_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[9]" 53;
IO_PORT "adc1_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[10]" 51;
IO_PORT "adc1_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "adc1_data[11]" 42;
IO_PORT "adc1_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "adc_clkout" 36;
IO_PORT "adc_clkout" IO_TYPE=LVCMOS33 PULL_MODE=UP;